@font-face {
  font-family: gunplay;
  src: url("../font/gunplay_3d.ttf");
}

body {
  color: white;
  background-color: #0D1114;
}

.fullWidth {
 width: 100%;
 margin-left: auto;
 margin-right: auto;
 max-width: initial;
}

.landing {
  min-height: 100%;
  background-image: url("../img/city2.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.avatar {
  max-height: 13em;
  margin-top: 6%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 50%;
}

.intro {
  text-align: center;
  margin-top: 5%;
}

.name {
  margin-top: 1%;
  font-family: gunplay;
  font-size: 3em;
  text-align: center;
}

.split {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-height: 2em;
}

.description {
  margin-top: 4%;
  margin-right: 10%;
  margin-left: 10%;
  text-align: center;
}

.session_title {
  font-family: gunplay;
  font-size: 3.5em;
  text-align: center;
  margin-top: 6.5%;
}

.project_description {
  margin-left: 10%;
  margin-right: 10%;
  text-indent: 5%;
  text-align:justify;
}

.cool_session {
  background-image: url("../img/matrix2.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.email {
  margin-top: 2%;
  text-align: center;
}

.icons {
  text-align: center;
}

.icon {
  border-radius: 10%;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 5%;
}

.icon:hover {
  border-radius: 50%;
}

h3 {
  color: #D6D6D6;
  text-align: center;
  margin-bottom: 2%;
}

.project {
  margin-top: 3.5%;
  margin-bottom: 6.5%;
}

.thumbnails {
  margin-right: 10%;
  margin-left: 10%;
}

.preview {
 margin-right: auto;
 margin-left: auto;
 display: block;
 max-width: 50%;
}
.preview2 {
 margin-right: auto;
 margin-left: auto;
 margin-top: 3%;
 display: block;
 max-width: 70%;
}

.spacer {
  padding-top: 0.5%;
}

.footer {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 3%;
  color: #333333;
}

a {
  color: white;
}

a:hover {
  color: #D3D3D3;
}