@font-face {
  font-family: gunplay;
  src: url("../font/gunplay_3d.ttf");
}

body {
  color: white;
  background-color: #0D1114;
}

.fullWidth {
 width: 100%;
 margin-left: auto;
 margin-right: auto;
 max-width: initial;
}

.landing {
  min-height: 100%;
  background-image: url("../img/city2.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.avatar {
  max-height: 13em;
  margin-top: 6%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 50%;
}

.intro {
  text-align: center;
  margin-top: 5%;
}

.name {
  margin-top: 1%;
  font-family: gunplay;
  font-size: 3em;
  text-align: center;
}

.split {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-height: 2em;
}

.description {
  margin-top: 4%;
  margin-right: 10%;
  margin-left: 10%;
}

.session_title {
  font-family: gunplay;
  font-size: 2.5em;
  text-align: center;
  margin-top: 5%;
}

.project {
  margin-left: 10%;
  margin-right: 10%;
}

.cool_session {
  background-image: url("../img/matrix2.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.cool_stuff {
  margin-left: 10%;
  margin-right: 10%;
}

.email {
  margin-top: 2%;
  text-align: center;
}

.icons {
  text-align: center;
}

.icon {
  border-radius: 10%;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 5%;
}

.icon:hover {
  border-radius: 50%;
}